<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.actions.MediaCenter"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ActionsMediaCenterActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<provider android:name=".provider.MarketProvider" android:authorities="com.yingyonghui.provider.Market" />
		<receiver android:name=".provider.MarketAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!--  <meta-data android:name="android.appwidget.provider" android:resource="@xml/market_appwidget_info" />
      -->  </receiver>
        
        <service android:name=".online.UpdateService" android:exported="true" />
        <receiver android:name=".provider.BootUpReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        
    </application>
</manifest>